# Series in Pandas

In [2]:
# In pandas, a Series is a one-dimensional labeled array capable of holding data of 
# various types (integers, strings, floats, Python objects, etc.). 
# It's essentially a single column from a DataFrame, but with its own functionalities.

In [4]:
import pandas as pd

In [16]:
l = [1, 2, 3, 4, 5]
print("List :",l)
print("Type :",type(l))

# converting list int pandas series

series = pd.Series(l)
print("Pandas Series : ")
print(series)
print("Type :",type(series))

List : [1, 2, 3, 4, 5]
Type : <class 'list'>
Pandas Series :
0    1
1    2
2    3
3    4
4    5
dtype: int64
Type : <class 'pandas.core.series.Series'>

In [18]:
# Getting elements via index
print("Element at index 2 is :",series[2])
print("Element at index 0 is :",series[0])
print("Element at index 4 is :",series[4])
print("Element at index 1 is :",series[1])

Element at index 2 is : 3
Element at index 0 is : 1
Element at index 4 is : 5
Element at index 1 is : 2

In [34]:
# Modifying index of a series
list = [1, 2, 3, 4, 5]
var = pd.Series(list, index = ['a', 's', 'd', 'f', 'j'])
var

a    1
s    2
d    3
f    4
j    5
dtype: int64

In [36]:
# We can also change the data type
var = pd.Series(list, index = ['a', 's', 'd', 'f', 'j'], dtype = "float")
var

a    1.0
s    2.0
d    3.0
f    4.0
j    5.0
dtype: float64

In [38]:
# Naming the data 
# We can also change the data type
var = pd.Series(list, index = ['a', 's', 'd', 'f', 'j'], dtype = "float", name = "My Data")
var

a    1.0
s    2.0
d    3.0
f    4.0
j    5.0
Name: My Data, dtype: float64

In [44]:
# In above examples we have passed list but we can pass dictionaries, tuples as well

dic = {"name":['pyhton', 'c', 'c++', 'java'], "pop":[12, 13, 14, 15], "rank":[1, 4, 3, 2]}
print(dic)

var1 = pd.Series(dic)
print(var1)

{'name': ['pyhton', 'c', 'c++', 'java'], 'pop': [12, 13, 14, 15], 'rank': [1, 4, 3, 2]}
name    [pyhton, c, c++, java]
pop           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [46]:
# We can aslo make a pandas series of a single entity
s = pd.Series(12)
print(s)
print("Type :",type(s))

0    12
dtype: int64
Type : <class 'pandas.core.series.Series'>

In [48]:
s = pd.Series(12, index = [1, 2, 3, 4, 5, 6, 7, 8], dtype = "float")
print(s)

1    12.0
2    12.0
3    12.0
4    12.0
5    12.0
6    12.0
7    12.0
8    12.0
dtype: float64

In [52]:
# Create two Series with different lengths
s1 = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7, 8], dtype="float")
s2 = pd.Series(12, index=[1, 2, 3, 4], dtype="float")

# Add the Series
print(s1 + s2)

# Explanation
# - In pandas, addition between Series automatically aligns the data based on the indices.
#   - Missing values (indices not present in both Series) are filled with NaN (Not a Number).
#   - This allows for addition even when Series have different lengths.

# Try adding equivalent NumPy arrays (will cause an error)
# Try converting the Series to NumPy arrays (causes an error)
# np_s1 = s1.to_numpy()
# np_s2 = s2.to_numpy()
# print(np_s1 + np_s2)  # This line will result in a ValueError

# Explanation (NumPy addition)
# - NumPy requires arrays to have the same shape for addition.
#   - Attempting to add arrays with different shapes results in a ValueError.

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64